a,
a:hover,
a:active,
a:link,
a:visited {
  color: #555;
}
body,
p {
  font-family: "Microsoft YaHei", "STHeiti", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}
.bg {
  background-image: url(../img/grid-18px-masked.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
}
.clearfloat:after {
  display: block;
  visibility: hidden;
  content: '';
  height: 0;
  clear: both;
}
.header {
  padding: 20px 0 0;
}
.header .site-info .title {
  line-height: 60px;
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 0;
}
.header .site-info .subtitle {
  margin: 0 0 10px;
  max-width: 400px;
  text-align: right;
  font-size: 14px;
}
.header .site-info .author {
  margin: 0 0 10px;
  font-size: 20px;
}
.header .nav-box {
  min-height: 40px;
  margin-bottom: 20px;
}
.header .nav-box .navbar {
  min-height: 40px;
}
.header .nav-box .navbar .nav > li:first-child {
  margin-right: 10px;
}
.header .nav-box .navbar-nav > li > a {
  padding: 9px 5px;
}
.header .nav-box .navbar-nav > li > a > .fa {
  margin-right: 3px;
}
@media (min-width: 992px) {
  .header .nav-box .navbar-collapse {
    padding-left: 5px;
  }
}
.header .nav-box .theme-link {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header .nav-box .theme-link:hover {
  color: #000;
  text-shadow: 1px 1px 0 #555;
}
.main .article {
  overflow: hidden;
}
.main .article h1 {
  font-size: 30px;
}
.main .article h2 {
  font-size: 26px;
}
.main .article h3 {
  font-size: 22px;
}
.main .article h4 {
  font-size: 18px;
}
.main .article h5 {
  font-size: 16px;
}
.main .article h6 {
  font-size: 14px;
}
.main .article p {
  margin: 10px auto 10px;
}
.main .article table {
  width: 100%;
}
.main .article table tr {
  border-top: 1px solid #999;
}
.main .article table tr th {
  font-weight: bold;
}
.main .article table tr th,
.main .article table tr td {
  font-size: 14px;
  line-height: 24px;
  border-right: 1px solid #999;
  padding-left: 5px;
  padding-right: 5px;
}
.main .article table tr th:last-child,
.main .article table tr td:last-child {
  border-right: none;
}
.main .article table tr:last-child {
  border-bottom: 1px solid #999;
}
.main .article img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin: auto;
}
.main .article > .title {
  font-weight: bold;
}
.main .article > .info {
  color: #999;
}
.main .article > .info .info-item {
  margin: 0 5px;
}
.main .article > .info .info-item a,
.main .article > .info .info-item a:hover,
.main .article > .info .info-item a:active,
.main .article > .info .info-item a:link,
.main .article > .info .info-item a:visited {
  color: #999;
}
.main .article > .info .info-item:first-child {
  margin-left: 0;
}
.main .article > .info .info-item:last-child {
  margin-right: 0;
}
.main .article > .content {
  background-color: #fff;
}
.main .article > .tag-list {
  list-style-type: none;
  -webkit-padding-start: 0;
  text-align: center;
}
.main .article > .tag-list .tag-list-item {
  display: inline-block;
  margin: 0 5px;
  color: #999;
}
.main .article > .tag-list .tag-list-item .tag-list-link {
  color: #999;
}
.main .article > .tag-list .tag-list-item:before {
  content: '#';
  display: inline;
  margin-right: 2px;
}
.main .article > .tag-list .tag-list-item:first-child {
  margin-left: 0;
}
.main .article > .tag-list .tag-list-item:last-child {
  margin-right: 0;
}
.main .article > .copyright {
  color: #999;
  font-size: 12px;
  text-align: right;
}
.main .archive {
  padding: 10px 0;
}
.main .archive .article {
  border-bottom: 1px solid #eee;
  padding: 30px 0 30px;
}
.main .archive .article > .title {
  margin-top: 0;
}
.main .archive .article > .excerpt p {
  margin: 10px auto 10px;
}
.main .archive .article > .excerpt > p {
  text-indent: 2em;
}
.main .archive .article > .excerpt img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin: auto;
}
.main .archive .article > .tag-list {
  text-align: right;
  margin-bottom: 0;
}
.main .archive .article:first-child {
  padding-top: 0;
}
.main .archive .article:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.main .paginator {
  text-align: center;
}
.main .paginator .pagination > li > a,
.main .paginator .pagination > li > span {
  color: #555;
}
.main .paginator .pagination .active > a,
.main .paginator .pagination .active > a:hover,
.main .paginator .pagination .active > a:active,
.main .paginator .pagination .active > a:link,
.main .paginator .pagination .active > a:visited,
.main .paginator .pagination .active > span,
.main .paginator .pagination .active > span:hover,
.main .paginator .pagination .active > span:focus {
  color: #fff;
  background-color: #555;
  border-color: #555;
}
.main .page-projects .project-box .loading {
  text-align: center;
  padding: 50px;
}
.main .page-projects .project-box .project-list {
  list-style-type: none;
  -webkit-padding-start: 0;
}
.main .page-projects .project-box .project-list .project-list-item {
  width: 100%;
  float: left;
  padding: 5px;
}
@media (min-width: 768px) {
  .main .page-projects .project-box .project-list .project-list-item {
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .main .page-projects .project-box .project-list .project-list-item {
    width: 25%;
  }
}
.main .page-projects .project-box .project-list .project-list-item .project-list-item-box {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
}
.main .page-projects .project-box .project-list .project-list-item .project-list-item-box .project-name {
  margin-top: 0;
  height: 26.5px;
  line-height: 26.5px;
  overflow: hidden;
}
.main .page-projects .project-box .project-list .project-list-item .project-list-item-box .project-description {
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-overflow: clip;
}
.main .page-projects .project-box .project-list .project-list-item .project-list-item-box .project-language {
  background-color: #999;
  color: #fff;
  padding: 1px 2px;
  border-radius: 2px;
}
.main .page-projects .project-box .project-list .project-list-item .project-list-item-box .project-icon {
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-left: 10px;
}
.main .page-projects .project-box .project-list .project-list-item .project-list-item-box .project-icon .fa {
  margin-right: 5px;
}
.main .page-projects .project-box .project-list .project-list-item .project-list-item-box:hover {
  box-shadow: 1px 1px 2px #ddd;
}
.main .page-moods .timeline {
  position: relative;
  max-width: 600px;
  margin: 20px auto 10px;
  list-style-type: none;
}
.main .page-moods .timeline .timeline-item {
  margin-bottom: 30px;
}
.main .page-moods .timeline .timeline-item .timeline-title {
  font-size: 20px;
}
.main .page-moods .timeline .timeline-item:before {
  display: block;
  visibility: visible;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid green;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 12px;
  margin-top: 3px;
}
.main .page-moods .timeline .timeline-item:last-child {
  margin-bottom: 0;
}
.main .page-moods .timeline:before {
  display: block;
  visibility: visible;
  content: '';
  height: 100%;
  border-left: 1px solid #ddd;
  position: absolute;
  left: 20px;
}
.main .page-categories .category-list {
  list-style-type: none;
  -webkit-padding-start: 0;
}
.main .page-categories .category-list .category-list-item {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
}
.main .page-categories .category-list .category-list-item .category-list-count {
  margin-left: 5px;
}
.main .page-tags .tag-box {
  max-width: 60%;
  margin: auto;
  text-align: center;
}
.main .page-tags .tag-box a {
  margin: 0 5px;
}
.main .page-projects h1,
.main .page-moods h1,
.main .page-categories h1,
.main .page-tags h1 {
  text-align: center;
}
.main .page-projects .project-box,
.main .page-moods .timeline,
.main .page-categories .category-list,
.main .page-tags .tag-box {
  margin-top: 20px;
}
.sidebar .widget {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.sidebar .widget .widget-title {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}
.sidebar .widget .widget-title a {
  color: inherit;
  text-decoration: none;
}
.sidebar .widget .widget-content ol,
.sidebar .widget .widget-content ul {
  padding-left: 30px;
  margin-bottom: 0;
}
.sidebar .widget .widget-content a:hover {
  color: #000;
}
.sidebar .widget:first-child,
.sidebar .widget:last-child {
  border-bottom: none;
}
.sidebar .widget-search .widget-content .form-inline {
  display: table-row;
}
.sidebar .widget-search .widget-content .form-inline .form-group {
  display: table-cell;
}
.sidebar .widget-search .widget-content .form-inline .form-group .form-control {
  width: 100%;
}
.sidebar .widget-search .widget-content .widget-search-results .modal-body {
  padding-left: 5px;
}
.sidebar .widget-search .widget-content .widget-search-results .modal-body .search-result-list .search-result-list-item {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.sidebar .widget-search .widget-content .widget-search-results .modal-body .search-result-list .search-result-list-item .title {
  margin-top: 0;
  font-size: 20px;
}
.sidebar .widget-search .widget-content .widget-search-results .modal-body .search-result-list .search-result-list-item .excerpt {
  overflow: hidden;
}
.sidebar .widget-search .widget-content .widget-search-results .modal-body .search-result-list .search-result-list-item:last-child {
  border-bottom: none;
}
.sidebar .widget-profile .widget-content .profile {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.sidebar .widget-profile .widget-content .profile .avatar {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  border-radius: 5%;
  margin: 5px auto;
}
.sidebar .widget-profile .widget-content .profile .avatar:hover {
  box-shadow: 1px 1px 2px #ddd;
}
.sidebar .widget-profile .widget-content .profile .author {
  display: block;
  padding: 5px;
  text-align: center;
}
.sidebar .widget-profile .widget-content .social-list {
  padding-left: 0;
  list-style-type: none;
}
.sidebar .widget-profile .widget-content .social-list .social-list-item {
  float: left;
  text-align: center;
}
.sidebar .widget-profile .widget-content .social-list .social-list-item .link {
  padding: 5px;
}
.sidebar .widget-profile .widget-content .social-list .social-list-item .link .fa {
  margin-right: 5px;
}
.sidebar .widget-toc .widget-content .toc {
  list-style-type: none;
  padding-left: 10px;
}
.sidebar .widget-toc .widget-content .toc .toc-item {
  min-height: 20px;
  line-height: 20px;
}
.sidebar .widget-toc .widget-content .toc .toc-child {
  list-style-type: none;
  padding-left: 15px;
}
.sidebar .widget-category .widget-content .category-list .category-list-item {
  line-height: 24px;
}
.sidebar .widget-category .widget-content .category-list .category-list-item .category-list-link {
  padding: 4px;
}
.sidebar .widget-category .widget-content .category-list .category-list-item .category-list-count {
  float: right;
}
.sidebar .widget-category .widget-content .category-list .category-list-item .category-list-count:before {
  content: '(';
  display: inline;
}
.sidebar .widget-category .widget-content .category-list .category-list-item .category-list-count:after {
  content: ')';
  display: inline;
}
.sidebar .widget-category .widget-content .category-list .category-list-item:after {
  display: block;
  visibility: hidden;
  content: '';
  height: 0;
  clear: both;
}
.sidebar .widget-tag .widget-content {
  padding-left: 10px;
}
.sidebar .widget-archive .widget-content .archive-list .archive-list-item {
  line-height: 20px;
}
.sidebar .widget-archive .widget-content .archive-list .archive-list-item .archive-list-link {
  margin-right: 5px;
}
.sidebar .widget-archive .widget-content .archive-list .archive-list-item .archive-list-count:before {
  content: '(';
  display: inline;
}
.sidebar .widget-archive .widget-content .archive-list .archive-list-item .archive-list-count:after {
  content: ')';
  display: inline;
}
.tools {
  position: fixed;
  right: 50px;
  bottom: 100px;
}
.tools .go-to-top {
  font-size: 64px;
  color: #ccc;
}
.tools .go-to-top:hover {
  color: #999;
}
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #ccc;
}
.footer p {
  text-align: center;
  margin-bottom: 0;
  color: #555;
}
.footer p a {
  font-weight: bold;
}
.highlight {
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  background: #474949;
  color: #d1d9e1;
  margin-top: 10px;
  margin-bottom: 10px;
}
.highlight table,
.highlight tr,
.highlight th,
.highlight td {
  width: unset !important;
  border: none !important;
}
.highlight pre {
  color: unset;
  background-color: unset;
  border: none;
  border-radius: unset;
  margin-bottom: 0;
}
.highlight a {
  color: unset;
}
.highlight .gutter {
  border-right: 1px solid #666 !important;
}
.highlight .code .line .comment,
.highlight .code .line .quote {
  color: #969896;
  font-style: italic;
}
.highlight .code .line .keyword,
.highlight .code .line .selector-tag,
.highlight .code .line .literal,
.highlight .code .line .type,
.highlight .code .line .addition {
  color: #cc99cc;
}
.highlight .code .line .number,
.highlight .code .line .selector-attr,
.highlight .code .line .selector-pseudo {
  color: #f99157;
}
.highlight .code .line .string,
.highlight .code .line .doctag,
.highlight .code .line .regexp {
  color: #8abeb7;
}
.highlight .code .line .title,
.highlight .code .line .name,
.highlight .code .line .section,
.highlight .code .line .built_in {
  color: #b5bd68;
}
.highlight .code .line .variable,
.highlight .code .line .template-variable,
.highlight .code .line .selector-id,
.highlight .code .line .class .title {
  color: #ffcc66;
}
.highlight .code .line .section,
.highlight .code .line .name,
.highlight .code .line .strong {
  font-weight: bold;
}
.highlight .code .line .symbol,
.highlight .code .line .bullet,
.highlight .code .line .subst,
.highlight .code .line .meta,
.highlight .code .line .link {
  color: #f99157;
}
.highlight .code .line .deletion {
  color: #dc322f;
}
.highlight .code .line .formula {
  background: #eee8d5;
}
.highlight .code .line .attr,
.highlight .code .line .attribute {
  color: #81a2be;
}
.highlight .code .line .emphasis {
  font-style: italic;
}
